name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.25.1"

      - name: Install dependencies
        run: go mod download

      - name: Build Linux binary
        run: |
          mkdir -p build/package
          GOOS=linux GOARCH=amd64 CGO_ENABLED=0 \
            go build -o build/package/coopcinema .

      - name: Copy public folder
        run: cp -r public build/package/public

      - name: Create ZIP
        run: |
          cd build
          zip -r coopcinema-linux.zip package

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: build/coopcinema-linux.zip
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}